<!doctype html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="/">Adherents</a></li>
    <li><a href="/structure">Structures</a></li>
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vues<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/view/younglings">Jeunes chefs</a></li>
        <li><a href="/view/birthdays">Anniversaires</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donnees<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/data">Tous</a></li>
        <li><a href="/data/younglings">Jeunes chefs</a></li>
        <li><a href="/data/birthdays">Anniversaires</a></li>
      </ul>
    </li>
  </ul>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="panel-body">
    {% for category, message in messages %}
      <div class="alert alert-info {{ category }}">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}

</body>
